<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./public/css/menu.css?v=1">	

<nav class="navbar">
    <div class="max-width">
        <ul class="menu">
            <!-- <li class="menu-top1 whiteline"><a href="#" class="menu-btn">HOME</a></li> -->
            <li class=""><a href="/fukushisystem/business" class="menu-btn">事業所マスタ</a></li>
            <li class="whiteline"><a href="/fukushisystem/userMNMT" class="menu-btn">利用者管理</a></li>
            <li class="whiteline"><a href="/fukushisystem/display_data" class="menu-btn">印刷画面</a></li>
            <li class="whiteline"><a href="/fukushisystem/activeRecord" class="menu-btn">問い合わせ</a></li>
        </ul>
        <div class="menu-btn">
            <!-- <i class="fas fa-bars"></i> -->
        </div>
    </div>
</nav>